{{template "header" .}}
<title>注册 -我的签到</title>
</head>
<body>
<br>
<br>
<div class="container" style="width:500px">
    <form method="post" action="/add">
        <div class="form-group">
            <label>姓名</label>
            <input id="uname" class="form-control" placeholder="输入姓名" name="name"></div>
        <div class="form-group">
            <label>学号</label>
            <input id="uuid" class="form-control" placeholder="输入学号uid" name="uid"></div>
        <div class="form-group">
            <label>mac地址</label>
            <h5>查看客户端目录下的init文件</h5>
            <input id="umac" class="form-control" placeholder="输入MAC地址" name="mac"></div>
        <button type="submit" class="btn btn-default" onclick="return checkInput();">提交</button>
        <button class="btn btn-default" onclick="return backToHome();">返回主页</button>

    </form>
    <script type="text/javascript">
            function checkInput() {
                var name = document.getElementById("uname");
                if (name.value.length == 0){
                    alert("请输入姓名");
                    return false
                }
                var uid = document.getElementById("uuid");
                if (uid.value.length != 8){
                    alert("请输入正确的学号");
                    return false
                }
                var mac = document.getElementById("umac");
                if (mac.value.length != 17){
                    alert("请输入正确的MAC地址");
                    return false
                }
                return true
            }

            function backToHome() {
                window.location.href = "/"
                return false
            }
        </script>
</div>

</body>
</html>